<article class="card mb-2">
  <div class="card-body">
    <p>{{url.origin}}</p>
    <p>{{url.shortURL}}</p>
    <a href="/delete/{{url._id}}" class="btn btn-danger">Delete</a>
    <a href="/edit/{{url._id}}" class="btn btn-warning">Edit</a>
    <button
      data-short="{{url.shortURL}}"
      href="#"
      class="btn btn-info"
    >Copy</button>

  </div>
</article>